* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100vw;
}


:root {
    --dark: #070707;
    --sizeindex: calc(1vw + 1vh);
    --transition: ease 1s;
}

i {
    opacity: 0.5;
}
h1 {
    margin-left: 5%;
    padding-top: 50vh;
    pointer-events: none;
    user-select: none;
    z-index: 100;
}
p {
    margin-bottom: 30px;
}

body {
    line-height: var(--sizeindex)*1.5;
    overflow-x: hidden;
    font-family: Arial, sans-serif;
    background-color: black;
    height:max-content;
    width: 100vw;
    color: white;
    font-size: calc(var(--sizeindex)*1.7);
    min-height: 100vh;
    position: relative;
}

#swipe3d {
    display: grid;
    width: 90%;
    transform-style: preserve-3d;
    margin: 5%;
}
.noteblock {
    background-color: #2a2a2a;
    padding: 5%;
    grid-area: 1/1;
    opacity: 0;
    transition: var(--transition);
    width: 100%;
    /* background-color: black; */
    word-wrap: break-word;
    will-change: transform;
    position: relative;
}

.galary {
    overflow: hidden;
    padding-top: 10vh;
    position: absolute;
    /* top: 10vh; */
    height: max-content;
    width: 100%;
    z-index: 0;
}
.slider {
    transform: rotate(15deg);
    overflow: visible!important;
    height: max-content!important;
}
.swiper__wrapper {
    transition: var(--transition)!important;
    /* height: 50vh!important; */
    height: 50vw!important;
    will-change: transform;
}
.slider__item {
    max-height: 40vh;
    width: 20vh;
    overflow: hidden;
    position: relative;
}

.slider__item :hover{
    width: 30vh;
}

.slider_img {
    width: auto;
    height: 100%;
    background-size: cover;
    position: absolute;
    left: -50%;
    transition: var(--transition)!important;
    will-change: transform;
}

.slider_img.vertical {
    transform: rotate(90deg); /* Поворот на 90 градусов для вертикальных изображений */
  }

.citates {
    text-align: center;
    text-wrap: words;
    width: 40vw;
    height: 75vh;
    white-space: pre-wrap;
    margin-left: auto;
    margin-right: auto;
}

@keyframes blink {
    from, to {border-color: transparent;}
    50% {border-color: white;}    
}

@media (orientation: landscape) {
    body {
        width: 50%;
        margin: 0 auto;
    }
}

