* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100vw;
}


:root {
    --dark: #070707;
    --sizeindex: calc(1vw + 1vh);
    --transition: ease 1s;
}

i {
    opacity: 0.5;
}
h1 {
    margin-left: 5%;
}
a{
    color: rgb(213, 205, 255);
    text-decoration: none;
}
a:hover{
    transition: ease-in-out 0.5s;
    color: rgb(135, 131, 255);
}
p {
    margin-bottom: 30px;
    overflow-wrap: anywhere;
}

body {
    line-height: var(--sizeindex)*1.5;
    overflow-x: hidden;
    font-family: Arial, sans-serif;
    background-color: black;
    height:max-content;
    width: 100vw;
    color: white;
    font-size: calc(var(--sizeindex));
    min-height: 100vh;
    position: relative;
    transform-style: preserve-3d;
}

#swipe3d {
    display: grid;
    width: 90%;
    margin: 5%;  
}
.noteblock {
    background-color: #2a2a2a;
    padding: 5%;
    grid-area: 1/1;
    opacity: 0;
    transition: var(--transition);
    width: 100%;
    will-change: transform;
    position: relative;
    min-height: 50vh;
}

#ideas-projects {
    overflow: hidden;
    perspective: 1000px;
    perspective-origin:50% 25vh ;
    overflow: visible;
}

#ideas-projects .block {
    position: absolute;
    left: 50%;
    top: 25vh;
    transform: translate(-50%, -50%);
    transition: var(--transition);
    text-align: center;
    pointer-events: none;
}

.galary {
    overflow: hidden;
    padding-top: 10vh;
    position: absolute;
    height: max-content;
    width: 100%;
    z-index: 0;
    will-change: transform;
}
.slider {
    transform: rotate(15deg);
    overflow: visible!important;
}
.swiper__wrapper {
    transition: var(--transition)!important;
    height: 40vh!important;
    will-change: transform;
}
.slider__item {
    height: 100%;
    overflow: hidden;
    position: relative;
}

.slider_img {
    width: 50vh;
    height: 100%;
    background-size: cover;
    position: absolute;
    /* left: -50%; */
    transition: var(--transition)!important;
    will-change: transform;
}


.perspective{
    perspective: 1500px; 
}

.citates {
    text-align: center;
    text-wrap: words;
    width: 100%;
    height: 75vh;
    white-space: pre-wrap;
    margin-left: auto;
    margin-right: auto;
    transform: rotateX(45deg);
}

@keyframes blink {
    from, to {border-color: transparent;}
    50% {border-color: white;}    
}

@media (orientation: landscape) {
    #swipe3d {
        width: 50%;
        margin: 0 auto;
    }
    .citates{
        width: 80%;
        margin: 0 auto;
        
    }
    h1  {
        width: 50%;
        margin: 0 auto;
        
    }
}

